<?xml version="1.0"?>

<launch>

	<arg name="launch_robot_1" default="true"/>
	<arg name="robot_1_x" default="0"/>
	<arg name="robot_1_y" default="0"/>
	<arg name="robot_1_z" default="0"/>

	<arg name="launch_robot_2" default="false"/>
    <arg name="robot_2_x" default="2"/>
	<arg name="robot_2_y" default="0"/>
	<arg name="robot_2_z" default="0"/>

	<arg name="launch_robot_3" default="false"/>
    <arg name="robot_3_x" default="-2"/>
	<arg name="robot_3_y" default="0"/>
	<arg name="robot_3_z" default="0"/>

    <arg name="prefix" default="robot"/>
    

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find robot_description)/worlds/postoffice.world"/>
    </include>

    <group if="$(arg launch_robot_1)" ns="$(arg prefix)_1">
        <param name="tf_prefix" value="$(arg prefix)_1" />
        <include file="$(find robot_description)/launch/one_robot.launch">
            <arg name="prefix" value="$(arg prefix)_1"/>
            <arg name="x" value="$(arg robot_1_x)"/>
            <arg name="y" value="$(arg robot_1_x)"/>
            <arg name="z" value="$(arg robot_1_x)"/>
        </include>
    </group>

    <group if="$(arg launch_robot_2)" ns="$(arg prefix)_2">
        <param name="tf_prefix" value="$(arg prefix)_2" />
        <include file="$(find robot_description)/launch/one_robot.launch">
            <arg name="prefix" value="$(arg prefix)_2"/>
            <arg name="x" value="$(arg robot_2_x)"/>
            <arg name="y" value="$(arg robot_2_x)"/>
            <arg name="z" value="$(arg robot_2_x)"/>
        </include>
    </group>

    <group if="$(arg launch_robot_3)" ns="$(arg prefix)_3">
        <param name="tf_prefix" value="$(arg prefix)_3" />
        <include file="$(find robot_description)/launch/one_robot.launch">
            <arg name="prefix" value="$(arg prefix)_3"/>
            <arg name="x" value="$(arg robot_3_x)"/>
            <arg name="y" value="$(arg robot_3_x)"/>
            <arg name="z" value="$(arg robot_3_x)"/>
        </include>
    </group>

</launch>