<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robot_arm">

    <xacro:include filename="$(find robot_description)/urdf/robot_arm_essentials.xacro" />
    <xacro:include filename="$(find robot_description)/urdf/gazebo_arm_essentials.xacro" />

    <!--############################# Arm #########################################-->
    <xacro:arm attach="true"/>

    <!--############################# Arm Joints ########################################-->
    <xacro:arm_joint prefix="arm_world" type="fixed" axis="0 0 1" parent="world" child="arm_world" originxyz="0.0 0.0 0.0" originrpy="0 0 0"/>
    <xacro:arm_joint prefix="arm_base" type="continuous" axis="0 0 1" parent="arm_world" child="arm_base" originxyz="0.0 0.0 0.0" originrpy="0 0 0"/>
    <xacro:arm_joint prefix="shoulder" type="continuous" axis="0 1 0" parent="arm_base" child="bicep" originxyz="-0.05166 0.0 0.20271" originrpy="0 0 1.5708"/>
    <xacro:arm_joint prefix="bottom_wrist" type="continuous" axis="0 1 0" parent="bicep" child="bottom_wrist" originxyz="0.0 -0.05194 0.269" originrpy="0 0 0"/>
    <xacro:arm_joint prefix="elbow" type="continuous" axis="0 0 1" parent="bottom_wrist" child="elbow" originxyz="0.0 0 0.13522" originrpy="0 0 0"/>
    <xacro:arm_joint prefix="top_wrist" type="continuous" axis="0 1 0" parent="elbow" child="top_wrist" originxyz="0.0 0 0.20994" originrpy="0 0 0"/>


    <!--############################# Arm Transmissions ##################################-->
    <xacro:arm_transmission prefix="arm_base"/>
    <xacro:arm_transmission prefix="shoulder"/>
    <xacro:arm_transmission prefix="bottom_wrist"/>
    <xacro:arm_transmission prefix="elbow"/>
    <xacro:arm_transmission prefix="top_wrist"/>

    <!--############################# Gazebo ##################################-->
    <xacro:gazebo_ros_control />
    <xacro:joint_state_publisher />


</robot>